* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*common */
/*gradient background*/
.ms_bg_color {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,231,0,1) 33%, rgba(86,255,0,1) 100%);
}
.ms_row {
    overflow-y: auto;
    height: 370px;
}
.ms_text_decoration  {
    font-size: 1.5rem;
    padding: 0 2rem;
}
/*button with linear-gradient background + div with different liner-gradient background*/
.ms_button_decoration {
    border: none;
    color: black;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 5rem;
    line-height: 2rem;
    background:linear-gradient(90deg, rgba(0, 255, 76, 0) 0%, rgba(165, 45, 45, 0.5) 33%, rgba(20, 112, 2, 0.63) 100%);
}
.ms_bg_color_div {
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 255, 76, 0) 0%, rgb(90, 250, 255) 33%, rgb(255, 136, 0) 100%);
}
/*positioning the elements in the container */
.ms_hover {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.ms_hover_right {
    top: 0%;
    right: 0%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.ms_img_1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
}
.ms_img_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
}
.ms_button_div {
    height: 100%;
    overflow-y: auto;
}
/*images hover with transition*/
.ms_hover:hover .ms_img_2 {
    transform: scale(0) rotate(360deg);
    transition: all 1s ease-in-out;
    opacity: 1;    
}
.ms_hover:hover .ms_img_1 {
    transform: scale(1) rotate(-360deg);
    transition: all 1s ease-in;
    opacity: 1;
}